body {
    
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#container {
    
    width: 100%;
    height: 100%;
    display: inline-block;
}

.innerContainer {
    
    margin: 0;
    height: 50%;
}

#upperCon {
    
    background-color: blue;
    opacity: 0.5;
}

#lowerCon {
    
    background-color: red;
    opacity: 0.5;
}

.contentCon {
    
    width: 23%;
    height: 90%;
    display: inline-block;
    margin: 1.1% .7%;    
}

#firstCon {
    
    background-color: red;
    margin-left: 1.4%;
}

#secondCon {
    
    background-color: orange;
}

#thirdCon {
    
    background-color: yellow;
}

#fourthCon {
    
    background-color: green;
}

#fifthCon {
    
    background-color: blue;
    margin-left: 1.4%;
}

#sixthCon {
    
    background-color: violet;
}

#seventhCon {
    
    background-color: chartreuse;
}

#eigthCon {
    
    background-color: rebeccapurple;
}