body {
    
    margin: 0;
}

#container {
    
    padding: 5% 10%;
    height: 75%;
    width: 80%;
    display: inline-block;
}

#imageArea {
    
    width: 45%;
    height: 100%;
    float: left;
    margin: 0;
}

#myPic {
    
    margin: 20% 0;
    margin-left: 25%; 
    height: 60%;
    width: 60%;
}

#textArea {
    
    width: 40%;
    height: 100%;
    margin: 0;
    float: left;
    color: white;
}

#name {
    
    text-align: center;
    height: 15%;
    padding-top: 40%;
}

#name h1 {
    
    margin: 0;
    font-family: "Showcard Gothic";
    font-size: 3vw;
    margin-left: 5px;
}

#line {
    
    padding-right: 10%;
    height: 4%;
    width: 100%;
}

#line h1 {
    
    margin: 0;
}

#line hr {
    
    border: 3px solid white;
}

#detail {
    
    height: 9%;
}

.textDetail {
    
    border-right: 1px solid white;
    width: 30%;
    height: 100%;
    float: left;
    font-family: sans-serif;
}

h3 {
    
    margin-top: 10px;
}

#first {
    
    margin-left: 9%;
}

#second {
    
    width: 20%;
}

#last {
    
    border-width: 0;
    width: 25%;
}

#detail h3 {
    
    text-align: center;
}