body {
    
    margin: 0;
}

#container {
    
    padding: 5% 10%;
    height: 75%;
    width: 80%;
    display: inline-block;
}

#imageArea {
    
    width: 50%;
    height: 100%;
    float: left;
    margin: 0;
}

#myPic {
    
    margin: 20% 0;
    margin-left: 30%; 
    height: 60%;
    width: 60%;
}

#textArea {
    
    width: 40%;
    height: 100%;
    margin: 0;
    float: left;
}

#name {
    
    text-align: center;
    height: 3%;
    padding-top: 50%;
}

#name h1 {
    
    margin: 0;
}

#line {
    
    height: 10%;
}

#line hr {
    
    border: 3px solid white;
}

#detail {
    
    height: 30%;
}

.textDetail {
    
    border-right: 1px solid white;
    width: 30%;
    height: 100%;
    float: left;
}

#first {
    
    margin-left: 8%;
}

#last {
    
    border-width: 0;
}

#detail h3 {
    
    text-align: center;
}