body {
    
    margin: 0;
}

#container {
    
    height: 80%;
    width: 80%;
    margin: 3% 10%;
}

.content {
    
    width: 50%;
    height: 31%;
    float: left;
}

.imageSide.odd {
    
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 1%;
    margin-bottom: 5%;
}

.infoSide.odd {
    
    width: 60%;
    height: 100%;
    float: left;
    padding-top: 3%;
}

.imageSide.even {
    
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 1%;
    margin-bottom: 5%;
}

.infoSide.even {
    
    margin-left: 30%;
    width: 40%;
    height: 100%;
    float: left;
    padding-top: 3%;
}

.label1 {
    
    margin-top: 3%;
    height: 45%;
    width: 100%;
}

.line {
    
    height: 5%;
    width: 70%;
}

.even .line {
    
    width: 100%;
}

.label2 {
    
    height: 30%;
    width: 100%;
}

h1 {
    
    margin: 0;
    color: #f4cb42;
    font-family: "Showcard Gothic";
}

h3 {
    
    margin: 0;
    color: white;
    font-weight: 100;
    font-family: "Tahoma";
    font-size: 15px;
}

.even h1, .even h3 {
    
    text-align: right;
}

hr {
    
    margin: 1% 0 0 0;
    border: 1px solid #f4cb42;
}

.odd img {
    
    height: 50%;
    width: 60%;
    margin-left: 37px;
    margin-top: 40px;
}

.even img {
    
    height: 50%;
    width: 60%;
    
}