body {
    
    margin: 0;
}

#container {
    
    height: 80%;
    width: 80%;
    margin: 3% 10%;
}

.content {
    
    width: 100%;
    height: 17%;
}

.imageSide.odd {
    
    width: 25%;
    height: 100%;
    float: left;
    background-color: aqua;
}

.infoSide.odd {
    
    width: 60%;
    height: 100%;
    float: left;
    background-color: salmon;
}

.imageSide.even {
    
    width: 25%;
    height: 100%;
    float: left;
    background-color: aqua;
}

.infoSide.even {
    
    margin-left: 15%;
    width: 60%;
    height: 100%;
    float: left;
    background-color: salmon;
}

.label1 {
    
    margin-top: 3%;
    height: 45%;
    width: 100%;
    background-color: sandybrown;
}

.line {
    
    height: 5%;
    width: 100%;
    background-color: firebrick;
}

.label2 {
    
    height: 30%;
    width: 100%;
    background-color: chartreuse;
}