body {
    
    margin: 0;
}

#container {
    
    height: 75%;
    width: 80%;
    margin: 5% 15%;
}

.content {
    
    width: 45%;
    height: 31%;
    float: left;
}

.content{
    
    margin-left: 10px;
}

.imageSide.odd {
    
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 1%;
    margin-bottom: 5%;
}

.infoSide.odd {
    
    width: 60%;
    height: 100%;
    float: left;
    padding-top: 3%;
}

.imageSide.even {
    
    width: 10%;
    height: 100%;
    float: left;
    margin-left: 1%;
    margin-bottom: 5%;
}

.infoSide.even {
    
    margin-left: 5%;
    width: 60%;
    height: 100%;
    float: left;
    padding-top: 3%;
}

.label1 {
    
    margin-top: 3%;
    height: 30%;
    width: 100%;
}

.line {
    
    height: 5%;
    width: 100%;
}


.label2 {
    
    height: 30%;
    width: 100%;
}

/*#f4cb42*/

h1 {
    
    margin: 0;
    color: #f4cb42;
    font-family: "Arial Black";
}

h3 {
    
    margin: 0;
    color: white;
    font-weight: 100;
    font-family: "Tahoma";
    font-size: 15px;
}

hr {
    
    margin: 1% 0 0 0;
    border: 1px solid #f4cb42;
}

.odd img {
    
    height: 50%;
    width: 60%;
    margin-left: 37px;
    margin-top: 40px;
}

.even img {
    
    height: 50%;
    width: 130%;
    margin-top: 40px;
}