body {
    
    margin: 0;
}

#container {
    
    width: 90%;
    height: 50%;
    margin: 10% 5%;
}

.content {
    
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 6%;
}

.upCon {
    
    height: 85%;
    width: 100%;
}

.mySlides1 {
    
    display: none;
}

.downCon {
    
    height: 15%;
    width: 100%;
}