body {
    
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#container {
    
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url(../images/bground.jpg);
    background-size: cover;
}

#topContent {
    
    height: 100%;
    width: 100%;
    border-width: 0;
}

#upperCon {
    
    height: 90%;
    background-color: rgba(0,0,0,0.3);
}

#lowerCon {
    
    height: 10%;
    background-color: rgba(0,0,0,0.4);
}
